<div class="container-fluid">
    <div class="row" >
        <div class="col bg-dark text-light text-center" style="height: 50px;
        padding: 10px;">
            Book Store
        </div>
    </div>
    
    <div style=" position: relative; top: 50%; left: 50%;
    transform: translate(-50%, 300%);">
        <h3 class=" text-center ">Welcome to Book Store!</h3>
    </div>


    <div style=" position: relative; top: 50%; left: 50%;
                transform: translate(-50%, 240%);">


        <div class="container-fluid text-center">

            <div class="row">
                <div class="col" style="text-align: right;">
                    <button type="button" class="btn btn-info" routerLink="/store" onclick="navigate()"> Would you like
                        to visit the <br> Store? </button>
                </div>
                <div class="col-1">
                    <br>
                    <h5> OR </h5>
                </div>
                <div class="col" style="text-align: left;">
                    <button type="button" class="btn btn-secondary" routerLink="/cart" onclick="navigateCart()"> Would
                        you like to check your <br> Cart?</button>
                </div>
            </div>
            <!-- 
        <div class="row h-100 " >
            <button class="nav-item btn-block btn-outline-dark" routerLink= "/store" onclick="navigate()"> Store </button>
            <button class="btn btn-block btn-outline-dark" routerLink="/cart" onclick="navigateCart()"> Cart </button>
        </div>
        -->
        </div>
    </div>


</div>